.menuBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.menuBar .ant-menu-horizontal{
  border-bottom: none;
}
.menuBar .ant-menu-horizontal .ant-menu-item-active{
  border-bottom: none;
  border-bottom-color: transparent;
}
